.searchBar {
  border: 0;
  border-bottom: 1px solid #ccc;
  padding: 5px 0;
  font-size: 1em;
  font-weight: 300;
  background-color: transparent;
  margin: 0 1rem;
  overflow: hidden;
  width: 95%;
}
.searchBar:disabled {
  opacity: 0.65;
}
.searchBar:focus {
  outline: none;
}
